<div class="container">
    <div class="form-edit-pass">
        {{{Password}}}
        {{{NewPassword}}}
        <div class="form-button">
            <p class="mr ml" id="error_form-edit-pass"></p>
            {{{buttonSave}}}
            {{{linkBack}}}
        </div>
    </div>
</div>