<div class='container'>
  <div class='form-auth'>
    <div class='form-header'>
      <h1 class='form-h1'>Вход</h1>
    </div>
    {{{inputLogin}}}
    {{{inputPass}}}
    <div class='form-button'>
      <p class='mr ml' id='error_form-auth'></p>
      {{{linkAuth}}}
      {{{linkSing}}}
    </div>
  </div>
</div>