.form-auth {
  height: 450px;
  top: 2rem;
  background: #ffffff;
  box-shadow: 0px 0px 6px rgb(0 0 0 / 14%);
  border-radius: 12px;
  max-width: 340px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.form-header {
  padding: 1rem 1rem;
  text-align: center;
}
.form-h1 {
  margin-bottom: 0;
  font-size: 20px;
  line-height: 20px;
}
.form-button {
  display: grid;
  position: absolute;
  bottom: 0;
  width: 100%;
}
