<div class="row">
    <div class="return">
        <div class="return-img">
            {{{linkBack}}}
        </div>
    </div>
    <div class="profile">
        <form class="form-wrapper" id="avatar-form">
            <input type="file" accept="image/*" name="avatar" id="avatar">
            <div class="button-wrapper">
                {{{buttonSave}}}
            </div>
        </form>
    </div>
</div>