---
{
    style: [
        '../components/css/input.css',
        '../components/css/link.css',
        './css/registration.css',
        './css/authorization.css'
    ],
    formInput: [
        {name: 'email', type: 'email', text: 'Почта'},
        {name: 'login', type: 'text', text: 'Логин'},
        {name: 'first_name', type: 'text', text: 'Имя'},
        {name: 'second_name', type: 'text', text: 'Фамилия'},
        {name: 'phone', type: 'tel', text: 'Телефон'},
        {name: 'password', type: 'password', text: 'Пароль'},
        {name: 'password2', type: 'password', text: 'Пароль (ещё раз)'},
    ]
}
---
{{#extend 'layout'}}
    {{#content 'container'}}
        <div class="container">
            <div class="form-registr">
                <div class="form-header">
                    <h1 class="form-h1">Регистрация</h1>
                </div>
                {{#each formInput}}
                    {{> input name=this.name type=this.type text=this.text }}
                {{/each}}
                <div class="form-button">
                    {{> link className="button-link" url="./chats.hbs" text="Зарегистрироваться"}}
                    {{> link className="a-link" url="./authorization.hbs" text="Войти"}}
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
