---
{
    style: [
        './css/userSettings.css',
        '../components/css/userProfile.css'
    ],
    user: {
        email: pochta@yandex.ru,
        login: ivanivanov,
        name: Иван,
        second_name: Иванов,
        display_name: Иван,
        phone: +7(909)9673030,
    }
}
---
{{#extend 'layout'}}
    {{#content 'container'}}
        <div class="row">
            <div class="return">
                <a href="./chats.hbs">
                    <img class="return-img" src="./img/back.jpg"/>
                </a>
            </div>
            <div class="profile">
                <div class="profile-avatar"></div>
                <div class="profile-name">{{user.name}}</div>
                <div class="profile-info">
                    <div class="profile-info-data">
                        {{> userProfile className="profile-input" name="Почта" value=user.email }}
                        {{> userProfile className="profile-input" name="Логин" value=user.login }}
                        {{> userProfile className="profile-input" name="Имя" value=user.name }}
                        {{> userProfile className="profile-input" name="Фамилия" value=user.second_name }}
                        {{> userProfile className="profile-input" name="Имя в чате" value=user.display_name }}
                        {{> userProfile className="profile-input" name="Телефон" value=user.phone }}
                    </div>
                    <div class="profile-info-links">
                        {{> link className="profile-info-link" url="#" text="Изменить данные"}}
                        {{> link className="profile-info-link" url="#" text="Изменить пароль"}}
                        {{> link className="profile-info-link" url="./index.hbs" text="Выйти"}}
                    </div>
                </div>
            </div>
        </div>
    {{/content}}
{{/extend}}
