<div class="container-404">
    <div class="error">
        <h1 class="h1">{{errors}}</h1>
        <p class="p">{{text}}</p>
        {{> link className="a-link" url="./chats.hbs" text="Назад к чатам"}}
    </div>
</div>