.message-outgoing {
  background: var(--grey-hover);
  padding: 10px;
  border-radius: 10px 10px 0;
  max-width: 400px;
  align-self: flex-end;
  text-align: right;
  margin-left: auto;
  margin-top: 0.5rem;
}

.message-incoming {
  background: var(--grey-search);
  padding: 10px;
  border-radius: 0 10px 10px;
  max-width: 400px;
  align-self: flex-start;
  margin-top: 0.5rem;
}

.message {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.message-text {
  font-size: 12px;
  line-height: 15px;
  margin-right: 40px;
  text-align: start;
}

.message-time {
  font-size: 9px;
  line-height: 9px;
  align-self: end;
}
